#out_div {}

#table tr td {
    width: 3.5rem;
    height: 2rem;
    text-align: center;
    background-color: rgb(238, 238, 238);

}

#table {
    border-spacing: 3px;
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
    filter: drop-shadow(0 0 5px rgb(202, 47, 47));
}

.c_btn {
    background-color: white;
    border: none;
    height: 2rem;
    width: 3.5rem;
}

.c_btn:hover {
    background-color: rgb(189, 189, 189);
}

#table #c_display {
    height: 5rem;
    background-color: white;

}

#c_display {
    filter: drop-shadow(0 0 0.75px rgb(17, 17, 17));
}